<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" >
    <script src="interact.min.js"></script>
    <script src="Draggable.js"></script>
</head>
<body>
<div class="roundTable draggable drag-drop">
    <div>Table1</div>
</div>
<div class="rectangleTable draggable drag-drop">
    <div>Table2</div>
</div>
<div class="draggable drag-drop">
    <div class="chair" style=" left: 69px; bottom: -140px; ">
        <div>Guest</div>
    </div>
    <div class="chair"  style="left: 120px; bottom: -50px;" >
        <div>Guest2</div>
    </div>
    <div class="chair" style="left: 110px; bottom: -165px;">
        <div>Guest3</div>
    </div>
    <div class="chair" style="left: 180px; bottom: 50px;">
        <div>Guest4</div>
    </div>
    <div class="chair" style="left: 230px; bottom: 55px;">
        <div>Guest5</div>
    </div>
    <div class="chair" style="left: 230px; bottom: 40px;">
        <div>Guest6</div>
    </div>
    <div class="chair" style="left: 190px; bottom: 40px;">
        <div>Guest7</div>
    </div>
    <div class="chair" style="left: 60px; bottom: 140px;">
        <div>Guest8</div>
    </div>
    <div class="roundTable " style="position: absolute; left: 110px; top: 150px;" >
        <div>Table2</div>
    </div>
</div>



<!--<div id="no-drop" class="draggable drag-drop"> #no-drop </div>-->

<!--<div id="yes-drop" class="draggable drag-drop"> #yes-drop </div>-->

<div id="outer-dropzone" class="dropzone" style="align-self: right;">

    <!-- <div id="inner-dropzone" class="dropzone">#inner-dropzone</div>-->
</div>
</body>
</html>